:root {
  --fs-xxxsmall: 12px;
  --fs-xxsmall: 14px;
  --fs-xsmall: 16px;
  --fs-small: 18px;
  --fs-body: 24px;
  --fs-large: 30px;
  --fs-xlarge: 36px;
  --fs-h1: 48px;
  --fs-h2: 36px;
  --fs-h3: 24px;
  --fs-h4: 22px;
  --fs-h5: 16px;
  --fs-h6: 16px;
  --fw-h1: 600;
  --fw-h2: 600;
  --fw-h3: 600;
  --fw-h4: 600;
  --fw-h5: 400;
  --fw-h6: 400;
  --lh-body: 1.4;
  --lh-heading: 1.3;
  --border-radius-applet: 24px;
}
:root {
  --ff-sans: Inter, system-ui, sans-serif;
  --ff-mono: TimesNow, "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono", Menlo, Consolas, monospace;
  --ff-mono-alt: Courier, "Courier New", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  --ff-display: MaruBeta, "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  --fs-xxxsmall: 12px;
  --fs-xxsmall: 14px;
  --fs-xsmall: 16px;
  --fs-small: 18px;
  --fs-body: 18px;
  --fs-large: 30px;
  --fs-xlarge: 36px;
  --fs-h1: 28px;
  --fs-h2: 24px;
  --fs-h3: 24px;
  --fs-h4: 22px;
  --fs-h5: 16px;
  --fs-h6: 16px;
  --fw-h1: 600;
  --fw-h2: 600;
  --fw-h3: 600;
  --fw-h4: 600;
  --fw-h5: 400;
  --fw-h6: 400;
  --lh-body: 1.4;
  --lh-heading: 1.2;
  --c-plain-white: #fff;
  --c-white-grey: #fafafa;
  --c-white-bright: #fdfdfd;
  --c-white-med: #f1f1f1;
  --c-white-off: #f6f6f6;
  --c-dark-black: #40404c;
  --c-black: #505050;
  --c-black-10: rgba(64, 64, 76, .1);
  --c-black-25: rgba(80, 80, 80, .25);
  --c-black-50: #999999;
  --c-black-60: rgba(80, 80, 80, .6);
  --c-black-70: #757575;
  --c-grey: #e5e5e5;
  --c-grey-70: #e9e9e9;
  --c-light-grey: #ececee;
  --c-alpha-grey: rgba(245, 245, 245, .92);
  --c-alpha-grey-matte: rgba(245, 245, 245, .98);
  --c-blue: #0029ff;
  --c-dark-azure: #397af6;
  --c-azure-30: rgba(57, 122, 246, .33);
  --c-azure-60: rgba(57, 122, 246, .6);
  --c-light-blue: #e0ecef;
  --c-pastel-blue: #dae8f0;
  --c-ultramarine: #2663d8;
  --c-light-yellow: #fcf0dd;
  --c-corn-yellow: #fce46a;
  --c-light-red: #fde6e6;
  --c-dark-bittersweet: #ca4e4e;
  --c-light-green: #e2f5e7;
  --c-bright-green: #35c759;
  --c-light-purple: #e1d5eb;
  --c-light-pink: #fde6e6;
  --c-light-red: #f36060;
  --c-dark-red: #ee1414;
  --c-bold-red: #c21d1d;
  --c-lightronchi: #fdf8ee;
  --c-medronchi: #f4e0c1;
  --c-darkronchi: #e6d4b5;
  --c-pastel-magenta: #f7d7f3;
  --c-magenta: #cbc3dc;
  --c-cyan-blue: #f2f7fb;
  --c-dance-beige: #efebe9;
  --c-themis-orange-light: #f4e0c1;
  --c-zeit-grey-dark: #cdcdcd;
  --c-bvg-sand: #f5f3f0;
  --c-bvg-yellow: #f2dc3c;
  --c-sparkasse-salmon: #fef9f8;
  --c-back-turquoise: #bce2e0;
  --c-finparx-blue-light: #f1f7fb;
  --shadow-applet: 0px 6px 30px rgba(0, 0, 0, .08);
  --shadow-applet-2: 0px 4px 24px rgba(0, 0, 0, .14), 0px 2px 12px rgba(0, 0, 0, .06);
  --shadow-applet-3: 0px 4px 8px rgba(0, 0, 0, .1);
  --shadow-half-pixel-border: 0px 0px 0px .6px var(--c-black-10);
  --shadow-two-pixel-border: 0px 0px 0px 2px var(--c-black);
  --border-radius-applet: 16px;
  --z-content: 100;
  --z-overlay: 500;
  --z-dashboard: 800;
  --z-menu: 9999;
  --z-modal: 99999;
  --backdrop-blur-radius: 8px;
  --gutter-menu-mobile: 24px;
}
@media screen and (min-width: 768px) {
  :root {
   --fs-xxxsmall: 12px;
   --fs-xxsmall: 14px;
   --fs-xsmall: 16px;
   --fs-small: 18px;
   --fs-body: 24px;
   --fs-large: 30px;
   --fs-xlarge: 36px;
   --fs-h1: 48px;
   --fs-h2: 36px;
   --fs-h3: 24px;
   --fs-h4: 22px;
   --fs-h5: 16px;
   --fs-h6: 16px;
   --fw-h1: 600;
   --fw-h2: 600;
   --fw-h3: 600;
   --fw-h4: 600;
   --fw-h5: 400;
   --fw-h6: 400;
   --lh-body: 1.4;
   --lh-heading: 1.3;
   --border-radius-applet: 24px
  }
 }